In [3]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.3.1'
spark_version = 'spark-3.3.2'

# use os.environ function to reference 'SPARK_VERSION' property
os.environ['SPARK_VERSION'] = spark_version
# Install the spark and java components
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark
# set the runtime environment variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64" # sets the path to the Java Virtual Machine (Java Development Kit)
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"
# start a spark session by importing and using findspark
import findspark
findspark.init()

Hit:1 http://security.ubuntu.com/ubuntu focal-security InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu focal InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Hit:6 http://archive.ubuntu.com/ubuntu focal-updates InRelease
Hit:7 http://archive.ubuntu.com/ubuntu focal-backports InRelease
Hit:8 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:9 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Hit:10 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Hit:11 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Reading package lists... Done

In [4]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [5]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

In [6]:
#add the url to a file to the sparkfiles context
spark.sparkContext.addFile(url)

#make df for file
salesDF = spark.read.option('header', 'true').csv(SparkFiles.get("home_sales_revised.csv"), inferSchema=True, sep=',')

#show the new df file
salesDF.show(truncate=False)

+------------------------------------+-------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|id                                  |date               |date_built|price |bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+------------------------------------+-------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d6-9c31-7398aa8f6089|2022-04-08 00:00:00|2016      |936923|4       |3        |3167       |11733   |2     |1         |76  |
|7530a2d8-1ae3-4517-9f4a-befe060c4353|2021-06-13 00:00:00|2013      |379628|2       |2        |2235       |14384   |1     |0         |23  |
|43de979c-0bf0-4c9f-85ef-96dc27b258d5|2019-04-12 00:00:00|2014      |417866|2       |2        |2127       |10575   |2     |0         |0   |
|b672c137-b88c-48bf-9f18-d0a4ac62fb8b|2019-10-16 00:00:00|2016      |239895|2       |2        |1631       |11149   |2     |0         |0   |
|e0726d4d-d595-4074-8283-4139a54d0d63|2022-01-08 00:00:00|2017      |424418|3       |2        |2249       |13878   |2     |0         |4   |
|5aa00529-0533-46ba-870c-9e881580ef35|2019-01-30 00:00:00|2017      |218712|2       |3        |1965       |14375   |2     |0         |7   |
|131492a1-72e2-4a84-bf97-0db14973bfdb|2020-02-08 00:00:00|2017      |419199|2       |3        |2062       |8876    |2     |0         |6   |
|8d54a71b-c520-44e5-8ba1-5a84be03ad35|2019-07-21 00:00:00|2010      |323956|2       |3        |1506       |11816   |1     |0         |25  |
|e81aacfe-17fe-46b1-a52a-4753d1622b4a|2020-06-16 00:00:00|2016      |181925|3       |3        |2137       |11709   |2     |0         |22  |
|2ed8d509-7372-46d5-a9dd-9281a95467d4|2021-08-06 00:00:00|2015      |258710|3       |3        |1918       |9666    |1     |0         |25  |
|f876d86f-3c9f-42b6-928f-bcb685c070ed|2019-02-27 00:00:00|2011      |167864|3       |3        |2471       |13924   |2     |0         |15  |
|0a2bd445-8508-4d83-b6be-f043bf3f3b24|2021-12-30 00:00:00|2014      |337527|2       |3        |1926       |12556   |1     |0         |23  |
|941bad30-eb49-4a78-b83a-87abb87a62db|2020-05-09 00:00:00|2015      |229896|3       |3        |2197       |8641    |1     |0         |3   |
|dd61eb34-6589-4c04-92ba-fc3c44f1b670|2021-07-25 00:00:00|2016      |210247|3       |2        |1672       |11986   |2     |0         |28  |
|f1e4cef7-d151-4391-8d00-d92ed2b7ab1b|2019-02-01 00:00:00|2011      |398667|2       |3        |2331       |11356   |1     |0         |7   |
|ea620c7b-c2f7-4c6f-9d16-3ccb34320ca4|2021-05-31 00:00:00|2011      |437958|3       |3        |2356       |11052   |1     |0         |26  |
|f233cb41-6f33-4b0c-b9ed-1b8aa87163e5|2021-07-18 00:00:00|2016      |437375|4       |3        |1704       |11721   |2     |0         |34  |
|c797ca12-52cd-4b13-9338-183653619b11|2019-06-08 00:00:00|2015      |288650|2       |3        |2100       |10419   |2     |0         |7   |
|0cfe57f3-28c2-472c-9bc3-aaeac6807e62|2019-10-04 00:00:00|2015      |308313|3       |3        |1960       |9453    |2     |0         |2   |
|4566cd2a-ac6e-4358-b1ad-56921991ff60|2019-07-15 00:00:00|2016      |177541|3       |3        |2130       |10517   |2     |0         |25  |
+------------------------------------+-------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [7]:
#2. create a temporary view of the dataframe
salesDF.createOrReplaceTempView("home_sales")

In [ ]:
#view the temp data frame
spark.sql("SELECT * FROM home_sales LIMIT 5").show()

In [ ]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?
spark.sql("SELECT YEAR(date) AS YEAR, ROUND(AVG((price),2) As averagePrice, From home_sales WHERE bedrooms = 4").show()

In [ ]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?
spark.sql("SELECT YEAR(date) AS YEAR, ROUND(AVG((price),2) As averagePrice, From home_sales WHERE bedrooms = 3 bathrooms = 3").show()

In [ ]:
# 5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?
spark.sql(
    "SELECT YEAR(date) AS YEAR, ROUND(AVG((price),2) As averagePrice, From home_sales WHERE bedrooms = 3 AND bathrooms = 3 AND floors = 2 AND sqft_livng = >=2000").show()

In [ ]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.

start_time = time.time()

spark.sql("SELECT ROUND(AVG((view),2), From home_sales WHERE price = >=350000").show()


print("--- %s seconds ---" % (time.time() - start_time))

--- 7.200241088867188e-05 seconds ---

In [ ]:
# 7. Cache the the temporary table home_sales.
spark.qul("cache table hole_sales")

In [ ]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

In [ ]:
# 9. Using the cached data, run the query that filters out the view ratings with average price
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

start_time = time.time()

spark.sql("SELECT ROUND(AVG((view),2), From home_sales WHERE price = >=350000").show()


print("--- %s seconds ---" % (time.time() - start_time))

--- 5.459785461425781e-05 seconds ---

In [ ]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
salesDF.write.partitionBy("date_built").parquet("home_sales", mode= "overwrite")

In [ ]:
# 11. Read the parquet formatted data.
salesparquet = spark.read.parquet("home_sales")

In [ ]:
# 12. Create a temporary table for the parquet data.
salesparquet.createorReplaceTempview("salesparquettemporary")

In [ ]:
# 13. Run the query that filters out the view ratings with average price of greater than or equal to $350,000
# with the parquet DataFrame. Round your average to two decimal places.
# Determine the runtime and compare it to the cached version.

start_time = time.time()

spark.sql("SELECT ROUND(AVG((view),2), From salesparquettemporary WHERE price = >=350000").show()


print("--- %s seconds ---" % (time.time() - start_time))

--- 7.104873657226562e-05 seconds ---

In [ ]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home_sales")

In [ ]:
# 15. Check if the home_sales is no longer cached

spark.catalog.isCached("home_sales")